<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edgar.optotypedevelope">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashBoardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".InteractionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ResultInteractionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CrudReadAppointmentActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CrudDeleteAppointmentActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CrudModifyAppointmentActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CrudSaveAppointmentActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CrudRequestTestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestPresentationActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".TestFormActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>